body {
    background: crimson;
    font: normal 15pt arial;
    }

header {
     color: whitesmoke;
     text-align: center;

    }

section {
    background: whitesmoke;
    border-radius: 20px;
    padding: 15px;
    width: 500px;
    margin: auto;
    box-shadow: 5px 5px 10px rgb(54, 0, 0);
    }

footer {
    text-align: center;
    font-style: italic;

}